body {
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

a {
    color: #00B7FF;
}

.topPanel {
    background-color: #8BCADD;
    height: 100vh;
    min-height: 760px;
    padding: 150px 150px 0 150px;
    position: relative;
}

.title {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 100px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.intro {
    padding-top: 10px;
}

.options {
    background-color: #bbe5f1;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 25px;
    width: 50%;
}

.sendButton {
    width: 200px;
}

.btnApp {
    background-color: #3B889E;
    border-color: #106076;
    color: white;
}

.btnApp:hover, .btnApp:focus {
    background-color: #247890;
    color: white !important;
}

.garyImg {
    bottom: 0;
    height: 70px;
    left: 30%;
    position: absolute;
}

.bottomPanel {
    padding: 70px 150px 10px 150px;
}

.fillForm {
    padding: 100px 100px 160px 100px;
}

.resultsTabs {
    display: none;
}

.resultsTab {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ddd #ddd;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    min-height: 350px;
    padding: 20px;
}

.levelTitle {
    margin-bottom: 40px;
}

.currentLevel, .nextLevel {
    font-size: 22px;
    font-weight: bold;
}

.currentLevel {
    float: left;
}

.nextLevel {
    float: right;
}

.levelProgressbar {
    cursor: pointer;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 12px;
}

.currentPoints {
    font-size: 22px;
    left: 0;
    margin-top: 15px;
    position: absolute;
    right: 0;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.badgesTable {
    margin: auto;
}

.badgesTable td {
    border: 1px solid #3B889E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 230px;
    width: 230px;
}

.badgeImg {
    height: 110px;
    width: 110px;
}

.badgeText {
    background-color: white;
    border: 1px solid #3B889E;
    border-radius: 10px;
    box-shadow: 1px 1px 3px grey;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    padding: 8px;
}

.lockedBadge {
    background-color: #E7E7E7;
    color: #3B889E;
}

.lockedBadge:hover {
    background-color: #CFCFCF;
}

.lockedBadgeContent {
    height: 100%;
    position: relative;
    width: 100%;
}

.hiddenBadgeContent {
    display: none;
    height: 230px;
    padding: 15px;
    width: 230px;
}

.hiddenBadgeContentDisplayed {
    display: table-cell;
    opacity: 0.3;
}

.shownBadgeDiv {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.shownBadgeDiv:hover {
    opacity: 0;
}

.shownBadgeContent {
    display: table-cell;
    height: 230px;
    vertical-align: middle;
    width: 230px;
}

.unlockedBadge {
    background-color: #d9edf7;
    color: #3B889E;
    padding: 15px;
}

.unlockedBadge:hover {
    background-color: #BBE5F1;
}

.leaderboardTable {
    margin: auto;
}

.leaderboardTable th, .leaderboardTable td {
    border: 1px solid #31708f;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 333px;
}

.currentUser {
    background-color: #d9edf7;
    color: #31708f;
}
