body {
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

a {
    color: #00B7FF;
}

.topPanel, .manageRulesBody {
    background-color: #8BCADD;
    overflow: hidden;
    position: relative;
}

.topPanel {
    height: 100vh;
    min-height: 760px;
    padding: 150px 150px 0 150px;
}

.manageRulesBody {
    min-height: 100vh;
    padding-top: 100px;
}

.title {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 100px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.errorPanel {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) !important;
    margin: auto;
    width: 50%;
}

.error {
    font-size: 20px;
    padding: 50px !important;
}

.btnReload {
    margin-top: 30px;
    width: 200px
}

.intro {
    padding-top: 10px;
}

.options {
    background-color: #bbe5f1;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 25px;
    position: relative;
    width: 50%;
}

.optionsError {
    display: none;
}

.btnManageRules {
    border-radius: 4px !important;
    margin-left: 10px !important;
}

.sendButton {
    width: 200px;
}

.btnApp {
    background-color: #3B889E;
    border-color: #106076;
    color: white;
}

.btnApp:hover, .btnApp:focus {
    background-color: #247890;
    color: white !important;
}

.garyImg {
    bottom: 0;
    height: 70px;
    left: 30%;
    position: absolute;
}

.bottomPanel {
    padding: 70px 150px 10px 150px;
}

.fillForm {
    padding: 100px 100px 160px 100px;
}

.resultsTabs {
    display: none;
}

.resultsTab {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ddd #ddd;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    min-height: 350px;
    padding: 20px;
}

.levelTitle {
    margin-bottom: 40px;
}

.level {
    position: relative;
}

.currentLevel, .nextLevel {
    font-size: 22px;
    font-weight: bold;
}

.currentLevel {
    float: left;
}

.newLevel {
    font-size: 0;
    left: 85px;
    position: absolute;
    top: 17px;
    -webkit-transition: font-size 1s, left 1s, opacity 1.5s, top 1s; /* Safari */
    transition: font-size 1s, left 1s, opacity 1.5s, top 1s;;
}

.newLevelBig {
    font-size: 70px;
    left: 130px;
    opacity: 0;
    top: -80px;
}

.nextLevel {
    float: right;
}

.levelProgressbar {
    cursor: pointer;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 12px;
}

.currentPoints {
    font-size: 22px;
    left: 0;
    margin-top: 15px;
    position: absolute;
    right: 0;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.badgesTable {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.badgesTable td {
    border: 1px solid #3B889E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 230px;
    width: 230px;
}

.badgeWrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.explosion {
    left: 115px;
    position: absolute;
    top: 113px;
    transition: left 0.8s, opacity 1.5s, top 0.8s, width 0.8s;
    width: 0;
}

.explosionBig {
    left: -15px;
    opacity: 0;
    top: -15px;
    width: 230px;
}

.badgeImg {
    height: 110px;
    width: 110px;
}

.badgeText {
    background-color: white;
    border: 1px solid #3B889E;
    border-radius: 10px;
    box-shadow: 1px 1px 3px grey;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    padding: 8px;
}

.lockedBadge {
    background-color: #E7E7E7;
    color: #3B889E;
}

.lockedBadge:hover {
    background-color: #CFCFCF;
}

.lockedBadgeContent {
    height: 100%;
    position: relative;
    width: 100%;
}

.hiddenBadgeContent {
    display: none;
    height: 230px;
    padding: 15px;
    width: 230px;
}

.hiddenBadgeContentDisplayed {
    display: table-cell;
    opacity: 0.3;
}

.shownBadgeDiv {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.shownBadgeDiv:hover {
    opacity: 0;
}

.shownBadgeContent {
    display: table-cell;
    height: 230px;
    vertical-align: middle;
    width: 230px;
}

.unlockedBadge {
    background-color: #d9edf7;
    color: #3B889E;
    padding: 15px;
}

.unlockedBadge:hover {
    background-color: #BBE5F1;
}

.leaderboardTable {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.leaderboardTable th, .leaderboardTable td {
    border: 1px solid #31708f;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 333px;
}

.currentUser {
    background-color: #d9edf7;
    color: #31708f;
}


/* RULES PAGE */
.manageRulesContainer {
    margin: auto auto 50px;
    position: relative;
    width: 40%;
}

.manageRulesPanel {
    background-color: #bbe5f1;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 25px;
    position: relative;
    z-index: 100;
}

.addBadgePanel {
    /*background-color: #E8F8FD;*/
    background-color: #5fa7bb;
    bottom: 10px;
    border-radius: 5px 0 0 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: white;
    left: 0;
    padding: 10px 30px;
    position: absolute;
    text-align: left;
    transition: left 400ms;
    top: 10px;
    visibility: hidden;
    width: 65%;
}

.addBadgePanelShows {
    left: -65%;
}

.addBadgeTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 19px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.addBadgePanel .input-group {
    margin-bottom: 20px;
}

.badgeLogoTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.emptySpace {
    height: 63px;
}

.actionOptions .input-group, .actionType {
    margin-bottom: 20px;
}

.rulesButtons {
    height: 34px;
    margin-top: 50px;
}

.backButton, .executeButton {
    width: 120px;
}

.backButton {
    float: left;
}

.executeButton {
    float: right;
}

.spongebobImg {
    bottom: -310px;
    position: absolute;
    right: 100px;
    transition: bottom 500ms;
}

.spongebobImgMoved {
    bottom: -121px;
}

.spongebobImgJump {
    bottom: -108px;
    transition: bottom 150ms;
}
