doctype html
html(lang='en' ng-app="garyDemo")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title
        link(rel='shortcut icon' href='/img/gary.png')
        link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
        block css
            link(rel='stylesheet', href='/css/style.css')
            link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
        block js
            if ENV_DEVELOPMENT
                script(src='http://localhost:35729/livereload.js')
            script(src='/components/jquery/dist/jquery.min.js')
            script(src='/components/bootstrap/dist/js/bootstrap.js')
            // Load core AngularJS before any other AngularJS module.
            script(src='components/angular/angular.js')            
            // My Angular components.
            script(src='js/app.js')
    body(ng-controller="PageController")
        .content
            block content
