<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletAccount</servlet-name>
        <servlet-class>ch.heigvd.amt.gary.controllers.ServletAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistration</servlet-name>
        <servlet-class>ch.heigvd.amt.gary.controllers.ServletRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.gary.controllers.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAccount</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistration</servlet-name>
        <url-pattern>/ServletRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
